@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Great+Vibes&family=Hachi+Maru+Pop&family=M+PLUS+Rounded+1c:wght@300;800&family=Ms+Madi&family=Rajdhani:wght@300&family=Rampart+One&family=Sawarabi+Mincho&family=Square+Peg&display=swap');
.App {
  width: 100%;
  max-width: 425px;
  margin: 0 auto;
}
.minhapi_deco {
  font-family: 'Dela Gothic One', cursive;
}